# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
mini-rag/ environment
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite3

# Testing and coverage
.coverage
htmlcov/
.tox/
nosetests.xml
pytest_cache/

# Build and distribution
build/
dist/
*.egg-info/

# Docker
*.pid
*.tar

# Ignore compiled C extensions
*.so

# Ignore any kind of cache
__pypackages__/
pip-wheel-metadata/
